// LORA
@font-face {
    font-family: 'Lora';
    font-weight: 1 999;
    src: url('../webfonts/lora/lora.ttf');
    font-display: swap;
}


//  INCONSOLATA
@font-face {
    font-family: 'Inconsolata';
    font-weight: 1 999;
    src: url('../webfonts/inconsolata/inconsolata.ttf');
    font-display: swap;
}